In [148]:
import sklearn
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import zipfile
import os

In [149]:
# Define the directory containing the data
data_directory = "Data"

# Find the first zip file in the directory
zip_file_name = next((f for f in os.listdir(data_directory) if f.endswith('.zip')), None)
if not zip_file_name:
    raise FileNotFoundError("No zip file found in the data directory.")

# Process the zip file
print(f"Processing zip file: {zip_file_name}")
with zipfile.ZipFile(os.path.join(data_directory, zip_file_name), 'r') as zip_file:
    # Identify CSV files in the zip archive
    csv_files = [f for f in zip_file.namelist() if f.endswith('.csv')]
    if not csv_files:
        raise FileNotFoundError("No CSV files found in the zip archive.")

    # Initialize dictionaries to store DataFrames
    data_frames = {}

    # Extract and load each CSV file
    for csv_file in csv_files:
        with zip_file.open(csv_file) as file:
            data_frames[csv_file] = pd.read_csv(file)

# Accessing the DataFrames by their filenames ('sp500_companies.csv', 'sp500_index.csv', 'sp500_stocks.csv')
# Replace 'sp500_companies.csv' with the actual filenames
df_sp500_companies = data_frames.get('sp500_companies.csv')
df_sp500_index = data_frames.get('sp500_index.csv')
df_sp500_stocks = data_frames.get('sp500_stocks.csv')

Processing zip file: Data-2024-03-16.zip

In [150]:
# Companies dataset
df_sp500_companies

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software - Infrastructure,416.420,3094183936000,1.184270e+11,0.176,Redmond,WA,United States,221000.0,Microsoft Corporation develops and supports so...,0.065276
1,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,172.620,2665580593152,1.301090e+11,0.021,Cupertino,CA,United States,161000.0,"Apple Inc. designs, manufactures, and markets ...",0.056234
2,NMS,NVDA,NVIDIA Corporation,NVIDIA Corporation,Technology,Semiconductors,878.365,2195912523776,3.448000e+10,2.653,Santa Clara,CA,United States,29600.0,"NVIDIA Corporation provides graphics, and comp...",0.046326
3,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,174.420,1811770245120,8.551500e+10,0.139,Seattle,WA,United States,1525000.0,"Amazon.com, Inc. engages in the retail sale of...",0.038222
4,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,142.170,1761315782656,1.001720e+11,0.135,Mountain View,CA,United States,182502.0,Alphabet Inc. offers various products and plat...,0.037157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,NYQ,CMA,Comerica Incorporated,Comerica Incorporated,Financial Services,Banks - Regional,49.490,6556930560,NaN,-0.220,Dallas,TX,United States,7496.0,"Comerica Incorporated, through its subsidiarie...",0.000138
499,NMS,ZION,Zions Bancorporation N.A.,"Zions Bancorporation, National Association",Financial Services,Banks - Regional,39.790,5872964608,NaN,-0.119,Salt Lake City,UT,United States,9679.0,"Zions Bancorporation, National Association pro...",0.000124
500,NYQ,VFC,V.F. Corporation,V.F. Corporation,Consumer Cyclical,Apparel Manufacturing,14.780,5746700288,1.068373e+09,-0.162,Denver,CO,United States,19800.0,"V.F. Corporation, together with its subsidiari...",0.000121
501,NYQ,WHR,Whirlpool Corporation,Whirlpool Corporation,Consumer Cyclical,"Furnishings, Fixtures & Appliances",105.120,5725056000,1.477000e+09,0.034,Benton Harbor,MI,United States,59000.0,Whirlpool Corporation manufactures and markets...,0.000121
502,NYQ,DOC,"Healthpeak Properties, Inc.","Healthpeak Properties, Inc.",Real Estate,REIT - Healthcare Facilities,17.240,4286294784,1.151196e+09,0.056,Denver,CO,United States,193.0,"Healthpeak Properties, Inc. is a fully integra...",0.000090

In [151]:
# Index dataset
df_sp500_index

            Date   S&P500
0     2014-03-17  1858.83
1     2014-03-18  1872.25
2     2014-03-19  1860.77
3     2014-03-20  1872.01
4     2014-03-21  1866.52
...          ...      ...
2513  2024-03-11  5117.94
2514  2024-03-12  5175.27
2515  2024-03-13  5165.31
2516  2024-03-14  5150.48
2517  2024-03-15  5117.09

[2518 rows x 2 columns]

In [152]:
# Stocks dataset
df_sp500_stocks

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2010-01-04,MMM,59.318886,83.019997,83.449997,82.669998,83.089996,3043700.0
1,2010-01-05,MMM,58.947342,82.500000,83.230003,81.699997,82.800003,2847000.0
2,2010-01-06,MMM,59.783295,83.669998,84.599998,83.510002,83.879997,5268500.0
3,2010-01-07,MMM,59.826176,83.730003,83.760002,82.120003,83.320000,4470100.0
4,2010-01-08,MMM,60.247749,84.320000,84.320000,83.300003,83.690002,3405800.0
...,...,...,...,...,...,...,...,...
1797717,2024-03-11,ZTS,183.490005,183.490005,183.990005,180.419998,182.619995,3383500.0
1797718,2024-03-12,ZTS,181.350006,181.350006,183.830002,180.940002,183.649994,2598400.0
1797719,2024-03-13,ZTS,176.229996,176.229996,182.970001,175.990005,181.600006,5947400.0
1797720,2024-03-14,ZTS,173.880005,173.880005,177.490005,170.720001,177.490005,6432600.0
1797721,2024-03-15,ZTS,172.570007,172.570007,175.509995,171.610001,173.779999,3399500.0

In [153]:
# Number of distinct companies in the S&P since 2014
print(f"There are {df_sp500_companies['Symbol'].nunique()} companies which were in the S&P since the year 2010\n")

# Find the percentage of the S&P 500 each sector makes up
# Count the occurrences of each unique sector
sector_counts = df_sp500_companies['Sector'].value_counts()
total_entries = len(df_sp500_companies)
sector_percentages = (sector_counts / total_entries) * 100 # Convert the counts to percentages
print("% of the S&P 500 each sector makes up")
print(sector_percentages)

There are 503 companies which were in the S&P since the year 2010

% of the S&P 500 each sector makes up
Sector
Technology                14.910537
Industrials               14.512922
Financial Services        13.320080
Healthcare                12.922465
Consumer Cyclical         11.530815
Consumer Defensive         7.355865
Real Estate                6.163022
Utilities                  5.964215
Energy                     4.572565
Communication Services     4.373757
Basic Materials            4.373757
Name: count, dtype: float64

In [154]:
# Combine full dataset with technical indicators
df_sp500_full = df_sp500_index

# Convert 'Date' column to datetime format and set as the index for easier time series operations
df_sp500_full['Date'] = pd.to_datetime(df_sp500_full['Date'])
df_sp500_full.set_index('Date', inplace=True)

# Simple Moving Averages (SMA) are used to smooth out price data over a specified period of time, 
# giving a visual representation of the average price over that period. They can help identify trends and reversals.
# Calculate 10, 30, and 90-day Simple Moving Averages for the S&P500 index.
df_sp500_full['10d_SMA'] = df_sp500_full['S&P500'].rolling(window=10).mean()
df_sp500_full['30d_SMA'] = df_sp500_full['S&P500'].rolling(window=30).mean()
df_sp500_full['90d_SMA'] = df_sp500_full['S&P500'].rolling(window=90).mean()

# The Moving Average Convergence Divergence (MACD) is a trend-following momentum indicator 
# that shows the relationship between two moving averages of a security’s price.
# Here, we're calculating MACD variations by comparing different SMAs to each other.
df_sp500_full['MACD_short_medium'] = df_sp500_full['10d_SMA'] - df_sp500_full['30d_SMA']
df_sp500_full['MACD_medium_long'] = df_sp500_full['30d_SMA'] - df_sp500_full['90d_SMA']
df_sp500_full['MACD_short_long'] = df_sp500_full['10d_SMA'] - df_sp500_full['90d_SMA']

# Aggregate the trading volume of all stocks contributing to the S&P 500 for each day
df_volume_agg = df_sp500_stocks.groupby('Date')['Volume'].sum().reset_index()
df_volume_agg['Date'] = pd.to_datetime(df_volume_agg['Date']) # Ensure the 'Date' column is of datetime type
df_volume_agg.set_index('Date', inplace=True)

# Merging this aggregated volume data with the df_sp500_full DataFrame using index
df_sp500_full = pd.merge(df_sp500_full, df_volume_agg, left_index=True, right_index=True, how='left')

# Calculate 10 and 30-day Moving Averages for the aggregated trading volume.
# This can help to identify trends in trading activity, separate from price movements.
df_sp500_full['10d_Volume_MA'] = df_sp500_full['Volume'].rolling(window=10).mean()
df_sp500_full['30d_Volume_MA'] = df_sp500_full['Volume'].rolling(window=30).mean()

# Market Direction indicates the daily price movement direction where 1 for an increase, -1 for a decrease, and 0 for no change.
# This can be useful for momentum strategies.
df_sp500_full['Market_Direction'] = np.sign(df_sp500_full['S&P500'].diff()) # 1 if market went up, -1 if market went down

# On-Balance Volume (OBV) uses volume flow to predict changes in stock price. The idea is that volume precedes price movement,
# so if a security is seeing an increasing OBV, it is generally considered bullish; if it is seeing decreasing OBV, it is generally considered bearish.
df_sp500_full['OBV'] = (df_sp500_full['Market_Direction'] * df_sp500_full['Volume']).cumsum()

# The Volume Oscillator shows the difference between two moving averages of volume.
# It helps identify whether the trading volume is increasing or decreasing.
df_sp500_full['Volume_Oscillator'] = df_sp500_full['10d_Volume_MA'] - df_sp500_full['30d_Volume_MA']


# Trim the first 90 days to allow for the moving averages
df_sp500_full = df_sp500_full.iloc[89:]

# Display full dataframe
df_sp500_full

,S&P500,10d_SMA,30d_SMA,90d_SMA,MACD_short_medium,MACD_medium_long,MACD_short_long,Volume,10d_Volume_MA,30d_Volume_MA,Market_Direction,OBV,Volume_Oscillator
Date,,,,,,,,,,,,,
2014-07-23,1987.01,1974.471,1963.735667,1908.897333,10.735333,54.838333,65.573667,2.340862e+09,2.305126e+09,2.243913e+09,1.0,4.488740e+10,6.121326e+07
2014-07-24,1987.98,1976.801,1965.205333,1910.332333,11.595667,54.873000,66.468667,2.537793e+09,2.346201e+09,2.261311e+09,1.0,4.742519e+10,8.488993e+07
2014-07-25,1978.34,1977.878,1966.813000,1911.511111,11.065000,55.301889,66.366889,2.312308e+09,2.390849e+09,2.259928e+09,-1.0,4.511289e+10,1.309215e+08
2014-07-28,1978.91,1978.059,1968.238000,1912.823778,9.821000,55.414222,65.235222,2.235974e+09,2.402401e+09,2.266672e+09,1.0,4.734886e+10,1.357297e+08
2014-07-29,1969.95,1977.726,1969.310333,1913.912000,8.415667,55.398333,63.814000,2.305776e+09,2.379022e+09,2.272497e+09,-1.0,4.504308e+10,1.065256e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-11,5117.94,5109.464,5026.273667,4761.557111,83.190333,264.716556,347.906889,2.212667e+09,2.527104e+09,2.528025e+09,-1.0,3.287279e+11,-9.207970e+05
2024-03-12,5175.27,5119.173,5034.518333,4772.462333,84.654667,262.056000,346.710667,2.320705e+09,2.543175e+09,2.527502e+09,1.0,3.310486e+11,1.567355e+07
2024-03-13,5165.31,5128.728,5042.529667,4782.767333,86.198333,259.762333,345.960667,2.426582e+09,2.576152e+09,2.521203e+09,-1.0,3.286220e+11,5.494928e+07
2024-03-14,5150.48,5134.149,5052.690667,4792.019556,81.458333,260.671111,342.129444,2.662230e+09,2.509847e+09,2.498947e+09,-1.0,3.259598e+11,1.090019e+07
2024-03-15,5117.09,5132.150,5059.720667,4800.450111,72.429333,259.270556,331.699889,5.156938e+09,2.777420e+09,2.575135e+09,-1.0,3.208029e+11,2.022847e+08